@tailwind base;
@tailwind components;
@tailwind utilities;

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* write a class parents to make all children and deeper class bg white */

.parents > * {
    background-color: white;
}